POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=construction
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
APP_HOST=0.0.0.0
APP_PORT=8000
NODE_API_PORT=3000
EXPO_PUBLIC_API_URL=https://api.moviemate.in
